Django==6.0.2
psycopg2-binary==2.9.12
python-dotenv==1.2.2
pytesseract==0.3.13
Pillow==12.0.0
pdf2image==1.17.0
gunicorn==26.0.0
whitenoise==6.12.0
dj-database-url==3.1.2
openpyxl==3.1.5
reportlab==4.5.1
django-anymail[resend]==15.0
django-storages==1.14.6
boto3==1.43.19
requests==2.32.5
pypdf==6.12.2
