Django>=6.0,<7.0
psycopg2-binary>=2.9
python-dotenv>=1.0
pytesseract>=0.3.10
Pillow>=10.0
pdf2image>=1.16
gunicorn>=21.2
whitenoise>=6.6
dj-database-url>=2.1
openpyxl>=3.1
django-anymail[resend]>=10.0
django-storages>=1.14
boto3>=1.34
requests>=2.31
