@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    min-height:calc(100vh - 75px);
    background:url('../img/BG MAIN.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
/* NAVBAR */

.navbar{
    width:100%;
    height:75px;
    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 50px;

    border-radius:0 0 18px 18px;

    position:relative;
    z-index:100;

    box-shadow:
    0 4px 10px rgba(0,0,0,0.06),
    0 10px 25px rgba(0,0,0,0.04);
}

.nav-left img{
    height:40px;
}

.logo-link{
    display:flex;
    align-items:center;
}

.logo-link img{
    transition:0.3s ease;
}

.logo-link:hover img{
    opacity:0.8;
    transform:scale(1.02);
}

.nav-right{
    display:flex;
    align-items:center;
    gap:24px;
}

.nav-right a{
    text-decoration:none;
    color:#1f3d66;
    font-size:13px;
    font-weight:600;
    transition:0.3s ease;
}

.nav-right a:hover{
    opacity:0.75;
}

/* ACTIVE LOGIN */

.login-btn-nav{
    background:#e5e7eb;
    color:#1f3d66 !important;

    padding:11px 18px;

    border-radius:5px;

    border:1px solid #cbd5e1;

    cursor:default;
}

.register-btn{
    background:#1f3d66;
    color:white !important;

    padding:11px 18px;

    border-radius:5px;

    transition:0.3s ease;
}

.register-btn:hover{
    background:#16314f;
    transform:translateY(-2px);
}

/* LANGUAGE */

.language-dropdown{
    position:relative;
    z-index:9999;
}

.selected-language{
    display:flex;
    align-items:center;
    gap:7px;

    color:#1f3d66;

    font-size:14px;
    font-weight:600;

    cursor:pointer;
}

.language-menu{
    position:absolute;

    top:42px;
    left:-12px;

    background:white;

    width:150px;

    border-radius:12px;

    padding:8px 0;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

    opacity:0;
    visibility:hidden;

    transform:translateY(10px);

    transition:0.25s ease;

    overflow:hidden;
}

.language-dropdown.active .language-menu{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

.language-option{
    padding:12px 18px;

    color:#1f3d66;

    font-size:14px;
    font-weight:500;

    cursor:pointer;

    transition:0.25s ease;
}

.language-option:hover{
    background:#f1f5f9;
}

/* MAIN */

.otp-section{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding:90px 20px;
}

/* OTP CONTAINER */

.otp-container{
    position:relative;
    z-index:2;
    width:100%;
    max-width:550px;
    text-align:center;
    color:white;
    display:flex;
flex-direction:column;
align-items:center;
}

.otp-container h1{
    font-size:47px;
    margin-bottom:7px;
}

.subtitle{
    font-size:16px;
    line-height:1.8;
    color:#e2e8f0;
    margin-bottom:28px;
}

/* OTP INPUT */

.otp-group input{
    width:100%;
    max-width:280px;
    height:64px;
    border:none;
    border-radius:10px;
    background:white;
    text-align:center;
    font-size:36px;
    letter-spacing:12px;
    font-weight:500;
    color:#475569;
    outline:none;
    margin-bottom:34px;
    font-family:'Poppins',sans-serif;
}

/* BUTTON */

.verify-btn{
    width:100%;
    max-width:147px;
    height:40px;
    border:2px solid white;
    background:transparent;
    color:white;
    border-radius:8px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
    font-family:'Poppins',sans-serif;
}

.verify-btn:hover{
    background:white;
    color:#284b7a;
    transform:translateY(-2px);
}

/* BACK */

.back-login{
    display:inline-block;

    margin-top:20px;

    color:white;

    text-decoration:none;

    font-size:14px;

    transition:0.3s ease;
}

.back-login:hover{
    opacity:0.7;
}

/* =========================
   DJANGO MESSAGES
========================= */

.messages{
    width:100%;

    display:flex;
    justify-content:center;

    margin-bottom:26px;
}

.message{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    min-width:202px;
    max-width:420px;
    padding:12px 16px;
    border-radius:12px;
    font-size:11px;
    font-weight:400;
    text-align:center;
}

/* SUCCESS */
.message.success{
    background:#15a24b;
    color:white;
}

/* ERROR */
.message.error{
    background:#7f1d1d;
    color:white;
}

/* FOOTER */
.footer{
    background:#ffffff;
    padding:40px 60px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer h4{
    font-size:12px;
    margin-bottom:12px;
    color:#111827;
}

.footer-center{
    text-align:center;
}

.footer-center img{
    height:42px;
    margin-bottom:18px;
}

.footer-links{
    display:flex;
    justify-content:center;
    gap:18px;
    margin-bottom:12px;
}

.footer-links a{
    text-decoration:none;
    color:#111827;
    font-size:12px;
    font-weight:600;
}

.footer-center p{
    font-size:12px;
    color:#6b7280;
}

/* ICONS */

.social-icons,
.contact-icons{
    display:flex;
    gap:14px;
}

.social-icons img,
.contact-icons img{
    width:22px;
    height:22px;
    object-fit:contain;
    cursor:pointer;
    transition:0.3s ease;
}

.social-icons img:hover,
.contact-icons img:hover{
    transform:translateY(-3px);
    color: #111827;
}

/* RESPONSIVE */

@media(max-width:768px){

    .navbar{
        padding:0 20px;
    }

    .nav-right{
        gap:12px;
    }

    .otp-container h1{
        font-size:38px;
    }

    .subtitle{
        font-size:15px;
    }

    .otp-group input{
        font-size:28px;
        letter-spacing:8px;
    }

    .footer{
        padding:40px 20px;
    }

    .footer-content{
        flex-direction:column;
        gap:30px;
        text-align:center;
    }

}